{% extends "index.html" %}

{% block title %}Ваш кошик{% endblock %}

{% block content %}
<h2 class="page-title">Ваш кошик</h2>
<div class="content-wrapper">
    {% if items %}
    <ul>
        {% for item in items %}
        <li>{{ item.name }} - {{ item.quantity }} x {{ item.price }} грн = {{ item.total }} грн</li>
        {% endfor %}
    </ul>
    <p>Загальна сума: {{ total_price }} грн</p>
    <form method="post" action="{{ url_for('create_order') }}">
        {{ form.hidden_tag() }}
        {{ form.submit() }}
    </form>
{% else %}
    <p>Кошик порожній.</p>
{% endif %}
</div>

{% endblock %}