{% extends "index.html" %}
{% block title %}
Головне меню
{% endblock %}
{% block content %}
<h2>Наше меню</h2>
<div class="menu-grid">
    {% for position in all_positions %}
        <div>
            <img src="/static/menu/{{ position.file_name }}" alt="{{ position.name }}" width="200">
            <h3>{{ position.name }}</h3>
            <p>{{ position.ingredients }}</p>
            <button><a href="/position/{{ position.name }}">Оглянути детальніше</a></button>
        </div>
    <hr>
    {% endfor %}
</div>
    
{% endblock %}